body {
    padding: 10px;
    width:100%;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 14px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #4c5760;
}
a , body , p {
    font-family: 'Lora', serif;
    color: #ffffff;
}
a {
    color: #b8f2e6;
    cursor: pointer;
}
h1,h2,h3,h4,h5 {
    font-family: 'Lora', serif;
    display: inline;
    cursor: pointer;
    color: #b8f2e6;

}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 22px;
}
h1:hover , h2:hover , h3:hover , h4:hover , .project-type:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid #b8f2e6;
    cursor: pointer;
}
.menu-btn {
    position: fixed;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.menu-btn ul {
    display:block;
}
.menu-btn ul li {
    width: 40px;
    margin: 7px 0;
    height: 3px;
    background: #fff;
}
.menu-btn ul li:first-child {
    margin-top: 0;
}
.menu-btn ul li:last-child {
    margin-bottom: 0;
}
.container {
    margin-bottom: 50px;
}
.list li {

    margin: 10px 0;
}
#more-detail {
    position: relative;
    width: 760px;
}

#more-detail .svg-inline--fa {
    font-size: 30px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    right: 50px;
    position: absolute;
    top: -20px;
}
#more-detail .svg-inline--fa:hover {
    font-size: 36px;
    right: 30px;
    top: -35px;
}
.menu {

    position: fixed;
    right: -20%;
    width: 15%;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 0;
}
.menu.active {
    right: 0;
    background: rgba(0,0,0,0.4);
    padding: 10px;
}
.menu a {
    color:#fff; 
}
.close-btn {
    color: #fff;
    display:none;
    right: 20px;
    position: fixed;
    font-size: 40px;
    cursor: pointer;
    top: 6px;
    z-index:9000;
}
.menu li {
    font-size: 28px;
}
.menu li a {
    text-decoration: none;
}
.menu li a:hover , .menu li.active a{
    color: #b8f2e6;
}
.preview {

    position: fixed;
    top: 10%;
    width: 800px;
    right: 30px;
    opacity:0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;
    z-index: -100;
}
.preview.active {
    opacity:1;
    z-index: 999;
}
.preview img {
    width:800px;
}
.close-preview {
    opacity: 0;
    position: fixed;
    color: #b8f2e6;
    font-size: 40px;
    cursor: pointer;
    top: 8%;
    z-index: 9999;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    right: 1%;
}
.close-preview.active {
    opacity: 1;
}
.link {

    font-size: 22px;
    margin-left: 10px;
}
.list img {

    height: 200px;
}
.preview .profile-pic {
    width: auto;
    margin: 0 auto;
}
.preview.profile {
    overflow: hidden;
    text-align: center;
}
.profile-container .list li{

    display: inline-block;
    min-width: 500px;
    vertical-align: top;
}
.work-list {

    vertical-align: top;
    margin: 20px 0;
}
.work-list li{

    margin-bottom: 20px;
}
.project-container ul {

    display: inline-block;
    min-width: 400px;
    vertical-align: top;
}
.project-container ul li a {

    text-decoration: none;
}
.project-container ul li a:hover {

    border-bottom: 1px solid #b8f2e6;
}
.profile-container h1 , .project-container h1 {
    margin-bottom: 50px;
    cursor: initial;
    display: block;


}
.profile-container h2 , .profile-container h3  , .project-container h2 , .project-container h3 {
    cursor: initial;


}
.profile-container h1:hover , .profile-container h2:hover , .profile-container h3:hover ,
.project-container h1:hover , .project-container h2:hover , .project-container h3:hover {
    border-bottom: 0;
    padding-bottom: 0;
}