@media screen and (max-width: 768px) {
    .preview {

        width: 700px;
        right: 40px;
    }
    #more-detail {
        z-index: -1;
    }
    #more-detail .svg-inline--fa {
        display: none;
    }
    .menu {

        width: 20%;
        box-sizing: border-box;
        padding: 10px;
    }
    .menu.active {

        background: rgba(0,0,0,0.8);
    }
    .paragraph , #more-detail{
        width:80%;
    }
}
@media screen and (max-width: 420px) { 


    .menu.active {

        width: 40%;
    }
    .preview {

        width: 350px;
    }
    .preview img {
        width: 100%;
    }
    .profile-container .list li {
        min-width: 100%;
    }
    .preview .profile-pic {
        width: 100%;
    }
    .close-preview {
        right: 5%;
        top: 7%;
    }
    .profile-container {

        text-align: center;
    }
    .work-list {
        text-align: center;
    }
    .profile-container .paragraph , #more-detail{
        margin: 0 auto;
    }
    .project-container .paragraph{

        margin: 0;
    }
}

@media screen and (max-width: 375px) { 
    .preview {


        width: 300px;
    }
    #more-detail {
        margin: 0;
    }
}